@charset "utf-8"; 

.footer_beckground
{
  background : #DBDBDB;
  background : rgba(219, 219, 219, 1);
  opacity : 0.87;
  width : 1365px;
  height : 264px;
  filter: alpha(opacity=87) progid:DXImageTransform.Microsoft.Alpha(opacity=87) ;
}

.enlaces_de_interes_text, .contactenos_text
{
  font-family : Berlin Sans FB Demi;
  font-weight : bold;
  font-size : 26px;
  color : #2B2B2B;
  color : rgb(43, 43, 43);
}

.link_text
{
  font-family : Cambria Math;
  font-size : 22px;
  color : #1E90FF;
  color : rgb(30, 144, 255);
}

.contact_info_text
{
  font-family : Myriad Pro;
  font-size : 21px;
  color : #000000;
  color : rgb(0, 0, 0);
}

